@font-face {
    font-family: $fboldname;
    src: url('../fonts/fs_truman-bold-webfont.eot');
    src: url('../fonts/fs_truman-bold-webfont.svg#fs_trumanbold') format('svg'),
         url('../fonts/fs_truman-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fs_truman-bold-webfont.woff') format('woff'),
         url('../fonts/fs_truman-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $fnormalname;
    src: url('../fonts/fs_truman-regular-webfont.eot');
    src: url('../fonts/fs_truman-regular-webfont.svg#fs_trumanregular') format('svg'),
         url('../fonts/fs_truman-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fs_truman-regular-webfont.woff') format('woff'),
         url('../fonts/fs_truman-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family:$fbold;
    font-weight:normal;
}


h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    font-family:$fbold;
}