@font-face {
    font-family: 'enzo light';
    src: url('../fonts/enzoot-light-webfont.eot');
    src: url('../fonts/enzoot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enzoot-light-webfont.woff2') format('woff2'),
         url('../fonts/enzoot-light-webfont.woff') format('woff'),
         url('../fonts/enzoot-light-webfont.ttf') format('truetype'),
         url('../fonts/enzoot-light-webfont.svg#enzo_otlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'enzo medium';
    src: url('../fonts/enzoot-medi-webfont.eot');
    src: url('../fonts/enzoot-medi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enzoot-medi-webfont.woff2') format('woff2'),
         url('../fonts/enzoot-medi-webfont.woff') format('woff'),
         url('../fonts/enzoot-medi-webfont.ttf') format('truetype'),
         url('../fonts/enzoot-medi-webfont.svg#enzo_otmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'enzo bold';
    src: url('../fonts/enzoot-bold-webfont.eot');
    src: url('../fonts/enzoot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enzoot-bold-webfont.woff2') format('woff2'),
         url('../fonts/enzoot-bold-webfont.woff') format('woff'),
         url('../fonts/enzoot-bold-webfont.ttf') format('truetype'),
         url('../fonts/enzoot-bold-webfont.svg#enzo_otbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'enzo medium';
  color:$brand-color;
}

h1 {
  font-weight: normal;
  font-family:'enzo light';
}

strong,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'enzo bold';
  font-weight:normal;
}

h1 {
  font-size:40px;
  small small {
  	font-family:'enzo medium';
  }
}

h2 {
	font-size:24px
}

h3 {
	font-size:18px;
	margin-bottom: 16px;
}