// colors
$brand-color: #000;
$brand-color-secondary: #000; // if none, repeat the $brand-color value
$default-link-color: darken(#ff6600, 0.1);
$default-text-color: #454545;
$light-text-color: #999;
$default-input-color: #454545;
$background-color: #fff;

// fonts
$fnormalname: "enzo medium";
$fnormal: $fnormalname, Helvetica, Sans-Serif;
$fboldname: "enzo bold";
$fbold: $fboldname, Helvetica, Sans-Serif;
$flightname: "enzo light";
$flight: $flightname, Helvetica, Sans-Serif;
